<mat-toolbar color="primary">
  <button mat-icon-button [routerLink]="['/']">
    <mat-icon aria-label="Export">arrow_back</mat-icon>
  </button>
  <span>Statistics</span>
</mat-toolbar>

<!-- Total time -->

<!-- Pie chart of time by category -->



<!--
List of activities

Angular material table: (https://material.angular.io/components/table/overview)
- pagination
- sorting
- filtering
-->

<div class="liste_activities">
  <div>
    <mat-form-field>
      <input matInput (keyup)="filterTable($event.target.value)" placeholder="filter" />
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let activity"> {{activity.name}} </mat-cell>
    </ng-container>

    <!-- Elapsed Time Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Elapsed time </mat-header-cell>
      <mat-cell *matCellDef="let activity"> {{calculTemps(activity) | date:'HH:mm:ss'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedCols;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pagePaginator">
  </mat-paginator>
</div>