[calendar] {
  display: grid;
  grid-template-columns: min-content 1fr;
}

[calendar] [calendarMonth] {
  grid-column: 2;
  font-size: 2em;
  padding: .2em;
  margin-top: 1em;
}

[calendar] [calendarDay] {
  grid-column: 1;
  font-size: 2em;
  padding: .5em;
}

[calendar] [calendarDay]>small {
  display: table;
  font-size: .7em;
}

mc-event {
  grid-column: 2;
}
