<!-- Activity add/edit/remove page  -->
<mat-toolbar color="primary">
  <a mat-icon-button href="">
    <mat-icon aria-label="Export">arrow_back</mat-icon>
  </a>
  <span>Activity</span>
</mat-toolbar>

<form>
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Categories" multiple>
      <mat-option *ngFor="let cat of categories" [value]="cat">{{cat}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-raw">
    <button mat-raised-button color="accent">
      <mat-icon aria-label="Save">check</mat-icon>
      Save
    </button>
    <button mat-raised-button color="warn">
      <mat-icon aria-label="Delete">close</mat-icon>
      Delete
    </button>
  </div>
</form>
