<!-- Activity add/edit/remove page  -->
<mat-toolbar color="primary">
  <a mat-icon-button href="">
    <mat-icon aria-label="Export">arrow_back</mat-icon>
  </a>
  <span>Activity</span>
</mat-toolbar>

<!-- <form [FormGroup]="myFormGroup"> -->
<form>
  <mat-form-field>
    <!-- <input matInput placeholder="Name" formControlName="name"> -->
    <input [(ngModel)]="activity.name" name="activity.name" matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <textarea [(ngModel)]="activity.description" name="activity.description" matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Categories" [formControl]="toppings" [(ngModel)]="activity.categories" multiple> <!-- [formControl]="toppings" -->
      <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.name | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Color" [(value)]="activity.color">
      <mat-option></mat-option>
      <mat-option *ngFor="let color of colors" [value]="color">
        <span [ngClass]="color" class="colorList"></span>
        {{ color | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-raw">
    <!-- <button mat-raised-button color="accent" (click)="afficherActivity();compareCat();"> -->
    <button mat-raised-button color="warn" class="md-primary md-raised" (click)="openDialogSupprActivity()">
      <mat-icon aria-label="Delete">close</mat-icon>
      Delete
    </button>
    <button mat-raised-button color="accent" (click)="saveActivity()">
      <mat-icon aria-label="Save">check</mat-icon>
      Save
    </button>
  </div>
</form>
