<mat-toolbar color="primary" *ngIf="!editMode; else toolbarEdit">
  <mat-toolbar-row>
    <button mat-icon-button (click)="openMenu()">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <span>{{ title | titlecase }}</span>

    <span class="toolbar-divider"></span>

    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="toolbar">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- chrono -->
  <app-chrono [(activity)]="activity"></app-chrono>
</mat-toolbar>


<!-- Menus -->
<mat-menu #toolbar="matMenu">
  <button mat-menu-item (click)="toogleEditMode()">Edit</button>
</mat-menu>

<!-- Templates -->
<ng-template #toolbarEdit>
  <mat-toolbar color="accent">
    <button mat-icon-button (click)="toogleEditMode()">
      <mat-icon>close</mat-icon>
    </button>
    <span>Edit activities</span>
  </mat-toolbar>
</ng-template>