<mat-sidenav-container>
  <!-- drawer -->
  <mat-sidenav #sidenav>
    <!-- mode="side" opened="true" for desktop -->
    <app-drawer (onCategorySelect)="currentCategory = $event; sidenav.close()"></app-drawer>
  </mat-sidenav>

  <div class="container">
    <!-- toolbar -->
    <app-main-toolbar [title]="app_name" [(activity)]="currentActivity" [(search)]="searchText" [(editMode)]="editMode" (menu)="sidenav.open()"></app-main-toolbar>

    <!-- list -->
    <app-activity-list [filter]="searchText" [editMode]="editMode" [category]="currentCategory" (onActivitySelect)="currentActivity = $event"></app-activity-list>

    <!-- FAB -->
    <a mat-fab id="fab" href="add/activity">
      <mat-icon aria-label="Add activity">add</mat-icon>
    </a>
  </div>
</mat-sidenav-container>