[chrono] {
  display: flex;
}

h1 {
  font-size: 3em;
  margin: auto;
  padding: .2em;
}

h1>small {
  font-size: .5em;
}

[actions] {
  display: flex;
  flex-direction: row;
}

p {
  display: inline;
  flex: 1 1;
  margin: 0;
  padding: 0;
}
