<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="['/']">
    <mat-icon aria-label="Export">arrow_back</mat-icon>
  </a>
  <span>Calendar</span>

  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="setDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</mat-toolbar>

<!-- Calendar -->
<mc-calendar [events]=events></mc-calendar>