*[calendar] {
  display: grid;
  grid-template-columns: min-content 1fr;
}

*[calendar]>*[calendarDay] {
  grid-column: 1;
  font-size: 2em;
  padding: .5em;
}

*[calendar]>*[calendarDay]>small {
  display: table;
  font-size: .7em;
}

*[calendar]>mat-card {
  grid-column: 2;
  margin: .5em;
  padding: 1em;
}

*[calendar]>mat-card mat-card-title {
  font-size: 1.5em;
}

*[calendar]>*[calendarMonth] {
  grid-column: 2;
  font-size: 2em;
  padding: .2em;
  margin-top: 1em;
}
