<mat-nav-list>
  <mat-list-item (click)="setCategory(null)">
    <mat-icon matListIcon>list</mat-icon>
    <h3 matLine>All</h3>
  </mat-list-item>
  <mat-list-item [routerLink]="['/add/category']">
    <mat-icon matListIcon>add</mat-icon>
    <h3 matLine>New category</h3>
  </mat-list-item>

  <!-- categories -->
  <app-categorie-list (onCategorySelect)="setCategory($event)"></app-categorie-list>

  <mat-divider></mat-divider>
  <h3 matSubheader>Menu</h3>
  <mat-list-item [routerLink]="['/calendar']">
    <mat-icon matListIcon>event</mat-icon>
    <h3 matLine>Calendar</h3>
  </mat-list-item>
  <mat-list-item [routerLink]="['/stats']">
    <mat-icon matListIcon>pie_chart</mat-icon>
    <h3 matLine>Stats</h3>
  </mat-list-item>
  <mat-list-item [routerLink]="['/settings']">
    <mat-icon matListIcon>settings</mat-icon>
    <h3 matLine>Settings</h3>
  </mat-list-item>
</mat-nav-list>
